{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 bg-light">
    <div class="row border border-1 mt-5">
        <div class="col-4 me-5 p-3">
            <img src="{{p.image.url}}" height="200px; width:200px;" >
        </div>
        <div class="col-6 me-5 mt-2 p-3">
            <h4>{{p.name}}</h4>
            <p>{{p.desc}}</p>
            <h5>PRICE: {{p.price}}</h5>
            <h6>STOCK: {{p.stock}}</h6>
            {% if user.is_superuser == True %}

            {% if p.stock > 0 %}
            <h3 class="text text-danger">Product In Stock</h3>
             <a href="{% url 'admin:index' %}" class="btn btn-success" style="width:300px;">Add Stock</a>


            {% else %}

            <h3 class="text text-danger">Product Out of Stock</h3>
             <a href="{% url 'admin:index' %}" class="btn btn-success" style="width:300px;">Add Stock</a>
            {% endif %}

            {% else %}
            {% if p.stock > 0 %}
            <a href="{% url 'cart:addtocart' p.id %}" class="btn btn-secondary" style="width:300px;">Add to Cart</a>
            {% else %}
            <h3 class="text-danger">OUT OF STOCK</h3>
            {% endif %}

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}